@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

:root {
  --primary-dark-color: #311e10;
  --secondary-dark-color: #9b5825;
  --primary-light-color: #ceab7e;
  --secondary-light-color: #ffffff;
  --board-size: min(80vw, 40rem);
  --cell-size: 12.5%;
  --board-border: 1.5rem solid var(--primary-dark-color);
  --border-radius: 1.2rem;
  --header-height: 3rem;
  --font-size: 1rem;
  --font-family: 'Bayon', sans-serif;
  --animation-duration: 500ms;
  --animation-timing-curve: infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
  height: 2.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--secondary-light-color);
  background-color: var(--secondary-dark-color);
  border-radius: var(--border-radius);
  border: none;
}

button:hover {
  background-color: var(--primary-light-color);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  height: var(--header-height);
  margin: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.main {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chess-board {
  width: var(--board-size);
  aspect-ratio: 1/1;
  border: var(--board-border);
  display: flex;
  position: relative;
  cursor: pointer;
}

.chess-board::before {
  /* display: none; */
  position: absolute;
  color: var(--secondary-light-color);
  content: '៨ ៧ ៦ ៥ ៤ ៣ ២ ១';
  top: 1.5rem;
  left: -1.5rem;
  text-align: center;
  font-size: small;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.55rem;
}

.chess-board::after {
  /* display: none; */
  position: absolute;
  color: var(--secondary-light-color);
  content: 'ក ​ខ គ ឃ ង ច ឆ ជ';
  bottom: -1.5rem;
  left: 1.8rem;
  font-size: small;
  letter-spacing: 1.7rem;
}

.cell {
  width: var(--cell-size);
  aspect-ratio: 1/1;
  text-align: center;
  line-height: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell::before {
  /* display: none; */
  position: absolute;
  right: 3px;
  top: 0;
  content: attr(cell-text);
  color: var(--primary-dark-color);
  opacity: 0.9;
  font-size: smaller;
}

.cell-selected {
  outline: 3px dashed var(--primary-dark-color);
  outline-offset: -5px;
  cursor: pointer;
  animation: selection-move var(--animation-duration)
    var(--animation-timing-curve);
}

@keyframes selection-move {
  50% {
    outline-offset: -7px;
  }
}

.light {
  background-color: var(--primary-light-color);
}

.dark {
  background-color: var(--secondary-dark-color);
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .main {
    width: 100%;
  }
  .menu {
    width: 100%;
  }

  .chess-board::before,
  .chess-board::after {
    display: none;
  }
}
